
/*  Main-color: #343a40  */

.header-box {
	padding: 40px 0;
}
.main-content {
	margin-bottom: 200px;
	padding: 40px 16px 80px;
	border: 1px solid #343a40;
}
.lesson-header {
	padding: 50px 0 60px;
}